<li class="nav-item dropdown mb-2 mb-md-0">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Instrumentos
  </a>
  <div class="dropdown-menu px-3 text-capitalize menu-instruments">
    <% Uta::INSTRUMENTS.each do |k, e| %>
      <div class="form-check mx-1 my-1">
        <input type="checkbox" class="form-check-input instrumento" name="<%= k %>" 
          id="check_<%= k %>" onchange="conf.instrument(this)">
        <label class="form-check-label" for="check_<%= k %>"><%= k %></label>
      </div>
    <% end %>
    <hr class="my-2 mx-0">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="todos" id="ch_todos" onchange="conf.instrument_all()">
      <label class="form-check-label" for="ch_todos">todos</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="todos" id="ch_nenhum" onchange="conf.instrument_all()" checked>
      <label class="form-check-label" for="ch_nenhum">nenhum</label>
    </div>
  </div>
</li>
