<li class="nav-item" data-controller="hymn">
  <a class="nav-link d-inline-block px-1 pb-2 pb-md-0" href="javascript:conf.fill.reset()" title="recomeçar">
    <i class="bi bi-arrow-counterclockwise"></i>
  </a>
  <a class="nav-link d-inline-block px-1 pb-2 pb-md-0 play" href="javascript:conf.fill.track()" title="tocar">
    <i class="bi bi-play-fill"></i>
  </a>
  <a class="nav-link d-inline-block px-1 pb-2 pb-md-0" href="javascript:conf.fill.previous()" title="hino anterior">
    <i class="bi bi-arrow-left-circle-fill"></i>
  </a>
  <a class="nav-link d-inline-block px-1 pb-2 pb-md-0" data-action="click->hymn#greet" title="hino anterior">
    <i class="bi bi-arrow-left-circle-fill"></i>
  </a>
  <a class="nav-link d-inline-block px-1 pb-2 pb-md-0" href="javascript:conf.fill.next()" title="próximo hino">
    <i class="bi bi-arrow-right-circle-fill"></i>
  </a>
</li>
