<li class="nav-item dropdown my-2 my-md-0">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Hinos
  </a>
  <div class="dropdown-menu">
    <ul class="list-group list-group-flush px-1 text-nowrap text-capitalize">
      <% Uta::HYMNS.each do |k, e| %>
        <a class="list-group-item list-group-item-action menu-hymns" 
            data-action="click->hymn#set_hymn" name="hymn_id" data-val="<%= k %>">
          <%= e[:title] %>
        </a>
      <% end %>
    </ul>
  </div>
</li>
